@page
@model BerrasBioWebApp.Pages.BookingConfirmationModel

@{
    ViewData["Title"] = "BookingConfirmation";
}
<div>
    <h2 class="display-4">Bokningsbekräftelse</h2>
    <br />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.FilmSchedule)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.FilmSchedule.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="Index" class="btn btn-primary btn-lg">Huvudmenyn</a>
    </div>
</div>
