@page
@model IndexModel
@{
    ViewData["Title"] = "Berras Bio";
}

    <div>
        <h2 class="display-4">Dagens Filmer</h2>
        <br />
        <div class="container">
            <div class="col-12 border">
                <form method="post">
                    <table id="myTable" class="table table-striped border">
                        <thead>
                            <tr class="table-secondary">
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().Film.Title"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().ShowTime"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().Salon.Name"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().FreeChairs"></label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var filmschedule in Model.FilmSchedulesToday)
                            {
                                @if(filmschedule.FreeChairs > 0)
                                {
                                <tr>
                                    <td>@filmschedule.Film.Title</td>
                                    <td>@filmschedule.ShowTime.ToString("HH:mm")</td>
                                    <td>@filmschedule.Salon.Name</td>
                                    <td>@filmschedule.FreeChairs</td>
                                    <td>
                                        <a asp-page="AddBooking" asp-route-id="@filmschedule.Id" class="btn btn-success btn-sm">Boka</a>
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr style="color: lightgray">
                                    <td> @filmschedule.Film.Title </td>
                                    <td> @filmschedule.ShowTime.ToString("HH:mm") </td>
                                    <td> @filmschedule.Salon.Name </td>
                                    <td> @filmschedule.FreeChairs </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" disabled>Slutsåld</button>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
